@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/login.css" />
}


<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-7 col-lg-10 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center"><br />Your account is now active. You can log in <a asp-area="Identity" asp-page="/Account/login">here</a></h5>
                </div>
            </div>
        </div>
    </div>
</div>