@page
@model ForgotPasswordConfirmation

@section Styles
{
    <link rel="stylesheet" href="~/css/login.css" />
}


<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-7 col-lg-10 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center"><br/>Please check your inbox. If this account exists we've sent you an email.</h5>
                </div>
            </div>
        </div>
    </div>
</div>