:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}

body {
    background: lavender;
    background: linear-gradient(to right, lavender, #e6f0fa);
}

.button-signin, .button-signin:visited {
    background: #bcbcf2 !important;
    border-color: #bcbcf2 !important;
}

    .button-signin:hover, .button-signin:active {
        background: #a9a9d9 !important;
        border-color: #a9a9d9 !important;
    }

.button-signup, .button-signup:visited {
    background: #91e9e9 !important;
    border-color: #91e9e9 !important;
}

    .button-signup:hover, .button-signup:active {
        background: #82d1d1 !important;
        border-color: #82d1d1 !important;
    }


.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

    .card-signin .card-title {
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 2rem;
    }

.card-text {
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0;
}

.card-signin .card-body { padding: 2rem; }

.form-signin { width: 100%; }

.form-signin .btn {
    border-radius: 5rem;
    font-size: 80%;
    font-weight: bold;
    letter-spacing: .1rem;
    padding: 1rem;
    transition: all 0.2s;
}

.form-label-group {
    margin-bottom: 1rem;
    position: relative;
}

.form-label-group input {
    border-radius: 2rem;
    height: auto;
}

.form-label-group > input,
.form-label-group > label { padding: var(--input-padding-y) var(--input-padding-x); }

.form-label-group > label {
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #495057;
    display: block;
    left: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    margin-bottom: 0;
    position: absolute;
    top: 0;
    transition: all .1s ease-in-out;
    width: 100%;
}

.form-label-group input::-webkit-input-placeholder { color: transparent; }

.form-label-group input:-ms-input-placeholder { color: transparent; }

.form-label-group input::-ms-input-placeholder { color: transparent; }

.form-label-group input::-moz-placeholder { color: transparent; }

.form-label-group input::placeholder { color: transparent; }

.form-label-group input:not(:placeholder-shown) {
    padding-bottom: calc(var(--input-padding-y) / 3);
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
}

.form-label-group input:not(:placeholder-shown) ~ label {
    color: #777;
    font-size: 12px;
    padding-bottom: calc(var(--input-padding-y) / 3);
    padding-top: calc(var(--input-padding-y) / 3);
}

.btn-google {
    background-color: #ea4335;
    color: white;
}

.btn-facebook {
    background-color: #3b5998;
    color: white;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
    .form-label-group > label { display: none; }

    .form-label-group input::-ms-input-placeholder { color: #777; }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .form-label-group > label { display: none; }

    .form-label-group input:-ms-input-placeholder { color: #777; }
}


@media (min-height: 780px) {

    .card-signin {
        border: 0;
        border-radius: 1rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -40%);
    }


    .user-center {
        margin-left: 3rem;
        margin-bottom: 2rem;
    }

}

