@page

@{
    ViewData["Title"] = "About site";
}
<h1>@ViewData["Title"]</h1>
<p>This page uses <b>SignalR</b> which provides real-time synchronization of client with server. <i>This service is necessary to make a Chat Room.</i></p>
<p>For design the page is using <b>Bootstrap 4</b> with Free Licenced code for some of the looks.</p>
<p>This page was made by <b>Aleksander Froń</b> and <b>Bartosz Leżyński</b> as project for <b>Programowanie Aplikacji Sieciowych</b>.</p>