@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Only data that this site is collecting are things that you inputted into one of places intended for it (ex. Login, Password, Messages).</p>
<p>The site is collecting messages only for the purpose to load the most recent ones into the screen of someone that logged onto the site.</p>
<p>While the site is collecting the messages it is also keeping track of when was the message sent and by whom.</p>
