@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}


@await RenderSectionAsync("Styles", required: false)

<div>
    <div class="container">
        @*<div class="col-md-1">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-3">*@
        @RenderBody()
        @*</div>*@
    </div>
</div>

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}
