<nav class="navbar navbar-dark navbar-expand-md" id="app-navbar" style="font-family: 'Roboto', sans-serif;">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-page="/Index">
            <i class="far fa-comments" id="brand-logo" style="color: #9370db"></i>
        </a>
        <button data-toggle="collapse" class="navbar-toggler ml-auto custom-toggler" data-target="#navcol-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon" style="color: #9370db"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto" >
                <li class="nav-item" role="presentation"><a class="nav-link active" asp-area="" asp-page="/Index"><span style="color: #9370db; font-size: large;">Home</span></a></li>
                @*<li class="nav-item" role="presentation"><a class="nav-link" asp-area="" asp-page="/Privacy"><span style="color: #9370db; font-size: large;">Privacy</span></a></li>*@
                <li class="nav-item" role="presentation"><a class="nav-link" asp-area="" asp-page="/About"><span style="color: #9370db; font-size: large;">About</span></a></li>
            </ul>
            <partial name="_LoginPartial"/>
        </div>
    </div>
</nav>